extends layout

block content
    h1= title
    table(class='table table-striped table-bordered table-hover')
        thead 
            tr
                th Cell Block Name
                th Type
                th Number of Cameras
                each cellBlock in cellBlocks
                    tr
                        td= cellBlock.CBname
                        td= cellBlock.CBType
                        td= cellBlock.NoCams
    div
        button.btn.btn-back(type='button', onclick='history.back()') Go Back