extends layout

block content
    h1= title

    form(method='POST' action='/queries/4')
    table(class='table table-striped table-bordered table-hover')
        thead 
            tr
                th CellBlock Name
                th Number of Shifts
                each result in results
                    tr
                        td= result.CBname
                        td= result.num_shifts
    div
        button.btn.btn-back(type='button', onclick='history.back()') Go Back